/* Navigation Bar Styling  */

/* Nav-bar is fixed to the top
& contains padding */
#nav-bar {
  position: fixed;
  z-index:1;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0em 2em 0 2em;
}

/* Tweeter Logo */
#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

/* Company Name */
#nav-bar .header {
  font-size: 2em;
  line-height: 2.5em;
  float: left;
  margin-left: 10px;
}

/* Compose Button */

/* hover class */
#nav-bar #compose input:hover {
  color:  #000000;
  border: 1px #000000 solid;
  background-color:  #eee;
}

#nav-bar #compose input {
  float: right;
  height: 60px;
  margin: 10px 0 10px 0;
  font-size: 22px;
  color:  #00a087;
  border: 1px #000000 solid;
  border-radius: 5px;
  background-color:  #e8fdff;
}