/* Styling for Compose Tweet Box */

/* Submission Box Styling */
.new-tweet {
  background-color: #eee;
  border: 1px #ccc solid;
  border-radius: 5px;
  margin: 0em 2em 0.25em 2em;
  padding: 0em .5em 0em .5em;
  display: none;
}

/* New Tweet Header */
.new-tweet h2 {
  border-bottom: 1px #244751 solid;
  margin-top: 0.4em;
}

/* Tweet Submission Form Styling */
.new-tweet form {
  padding-bottom: 0.5em;
}

/* Textarea for new Tweet content */
.new-tweet form textarea {
  width: 100%;
  padding: 0.3em;
}

/* Tweet Button */
.new-tweet form input{
  font-size: 18px;
}

/* Character Counter Styling */
.new-tweet form .counter {
  float: right;
  padding: 0.5em;
  font-style: italic;
  font-size: 0.8em;
}

/* Over Character Count */
.overcount {
  color: #ff0000;
}