.tweet:hover {
  border: 1px #969696 solid;
}

.tweet {
  background-color: #ffffff;
  border: 1px #d1d1d1 solid;
  border-radius: 5px;
  margin: .5em 2em .5em 2em;
  overflow: hidden;
}

.tweet:hover > header {
  opacity: 1;
}

.tweet header{
  opacity: .7;
  background-color: #eee;
  color: #244751;
  height: 65px;
  width: 100%;
}

.tweet .avatar {
  float: left;
  height: 50px;
  margin: .5em;
  border-radius: 5px;
}

.tweet .name {
  float: left;
  line-height: 0.2em;
}

.tweet .handle {
  float: right;
  color: #888888;
  padding: 1.3em .5em 0em .5em;
  font-size: 0.8em;
}

.tweet .content {
  margin: 2em 1em;
}

.tweet footer {
  border-top: 1px #eeeeee solid;
  padding: .8em .5em;
  font-size: 0.7em;
}

.tweet:hover > footer .fa {
  display: block;
  color: #00a087;
  float: right;
  padding: .2em .3em;
}

.tweet footer .fa {
  display: none;
}